.Header{
    aspect-ratio: 900/300;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../public/bluewave.svg');
}

.Header_Title{
    margin: 0;
    padding-top: 8vh;
    text-align: center;
    font-size: 4vw;
    color: #fffcf7;
}