.Body_Title{
    margin: 0;
    padding-left: 6vw;
    padding-top: 3vw;
    font-size: 2rem;
}

.Body_Text{
    margin: 0;
    padding-left: 6vw;
    padding-top: 1vh;
    font-size: 1rem;
}