.Header{
    aspect-ratio: 900/600;
    width:100;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../public/wave.svg');
}

.Header_Title{
    margin: 0;
    padding-left: 5vw;
    padding-top: 3vw;
    font-size: 4vw;
    
    color: rgb(38, 46, 66)
}