.Header{
    aspect-ratio: 900/600;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../public/wave.svg');
}

.Header_Title{
    margin-left: 3vw;
    margin-top: 2.5vh;
    color: white;
}